services:
  - type: web
    name: supplier-onboarding-backend
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: API_URL
        value: https://backendmatrix.onrender.com